*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    // google fonts    
    font-family: 'Poppins', sans-serif;
}

body{
    // dimensions---------------------------------------
     height: 100vh;
     width: 100vw;
    // background color----------------------------------
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    // placement of child divs
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
      // navbar
      nav{
        max-width: 100vw;
        max-height: 55px;
        display: flex;
        .logo{
            width: 20%;
            text-align: left;
            padding: 5px 1rem;
            font-size: 20px;
            font-weight: 900;
            background: #FEAC5E;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */            
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        ul {
            width: 80%;
            display: flex;
            justify-content: right;
            padding: 0px 2rem;
            li{
                padding: 5px 1rem ;
                list-style: none;
                 a{
                    font-size: 18px;
                    text-decoration: none;
                    color: #fff;
                 }
            }
        }
      }   
      #animation {
        height: 40vh;
        min-width:100vw;
        background-color: #283048;


      }
      #explore{
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            text-decoration:none;
            font-size:200px;
        }
      }
      .sidebarcontainer{
        min-width: 100vw;
        height: 94vh;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: red;
        .sidebar{
               min-width: 28vw;
               min-height: 70vh;
               background-color: #64106d;
               display: flex;
               flex-direction: column;
               .logo{
                     width: 100%;
                     height: 10vh;
                     font-size: 21px;
                     font-weight: 900;
                    //  text-decoration: underline;
                    padding: 1rem 1rem;
                    color: #fff;
                    display: flex;
                    justify-content: space-between;
                    i{
                        cursor: pointer;
                    }
               }
               ul{
                height: 50vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                li{
                    list-style: none;
                    padding: 1.5rem 0px;
                    
                    a{
                        color: rgb(222, 222, 222);
                        text-decoration: none;
                        font-size: 21px;
                        &:hover {
                            transition: all 0.3s ease-in-out;
                            color: #eeb177;
                        }
                    }
                }
               }
               .socials{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  i{
                    padding: 0px 10px;
                  }
               }
        }
        .content{
            width: 68vw;
            height: 70vh;
            background-color: #5a5a5a;
            display: flex;
            flex-direction: column;
            .burger{
                padding: 1rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: right;
            }

        }
      }


           //container div
           .container{
            position: relative;
               min-height: 45vh;
               min-width: 50vw;
            //    background: red;

               .heading{
                width: 100%;
                text-align: center;
                color: #e7e7e7;
                   h3{  
                        font-size: 70px;
                   }
               }
               .time{
                display: flex;
                text-align: center;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                color: #fff;
                 span{
                    font-size: 100px;
                    color: #fff;
                    margin: 0px 10px;
                 }
               }
               div{
                display: flex;
                flex-direction: column;

                .number{
                    text-align: center;
                    font-size: 100px;
                    color: #fff;
                }
                .button-group{
                    padding: 5%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    button{
                          width: 30%;
                          padding: 10px 1rem;
                          border: none;
                          font-size: 18px;
                          border-radius: 5px;
                          cursor: pointer;
                    }
                    .reset{
                        background-color: rgb(101, 101, 221);
                    }
                    .increase,.start{
                        background-color: rgb(0, 179, 0)
                    }
                    .decrease{
                        background-color: rgb(255, 63, 63);
                    }
                    .stop{
                        // background-color: ;
                        background-color: rgb(255, 63, 63);
                    }
                }
               }

           }
}
