* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background: #283048; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body nav {
  max-width: 100vw;
  max-height: 55px;
  display: flex;
}
body nav .logo {
  width: 20%;
  text-align: left;
  padding: 5px 1rem;
  font-size: 20px;
  font-weight: 900;
  background: #FEAC5E; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body nav ul {
  width: 80%;
  display: flex;
  justify-content: right;
  padding: 0px 2rem;
}
body nav ul li {
  padding: 5px 1rem;
  list-style: none;
}
body nav ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
body #animation {
  height: 40vh;
  min-width: 100vw;
  background-color: #283048;
}
body #explore {
  display: flex;
  align-items: center;
  justify-content: center;
}
body #explore a {
  text-decoration: none;
  font-size: 200px;
}
body .sidebarcontainer {
  min-width: 100vw;
  height: 94vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .sidebarcontainer .sidebar {
  z-index: 9999;
  min-width: 28vw;
  min-height: 70vh;
  background-color: #64106d;
  display: flex;
  flex-direction: column;
}
body .sidebarcontainer .sidebar .logo {
  width: 100%;
  height: 10vh;
  font-size: 21px;
  font-weight: 900;
  padding: 1rem 1rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
body .sidebarcontainer .sidebar .logo i {
  cursor: pointer;
}
body .sidebarcontainer .sidebar ul {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .sidebarcontainer .sidebar ul li {
  list-style: none;
  padding: 1.5rem 0px;
}
body .sidebarcontainer .sidebar ul li a {
  color: rgb(222, 222, 222);
  text-decoration: none;
  font-size: 21px;
}
body .sidebarcontainer .sidebar ul li a:hover {
  transition: all 0.3s ease-in-out;
  color: #eeb177;
}
body .sidebarcontainer .sidebar .socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .sidebarcontainer .sidebar .socials i {
  padding: 0px 10px;
  cursor: pointer;
}
body .sidebarcontainer .removesidebar {
  display: none;
  transition: all 0.4s ease-in-out;
}
body .sidebarcontainer .content {
  width: 68vw;
  height: 70vh;
  background-color: #5a5a5a;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .sidebarcontainer .content .burger {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}
body .sidebarcontainer .content .slideshow {
  height: 62vh;
  width: 68vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
body .sidebarcontainer .content .slideshow div {
  height: 98%;
  width: 66vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .sidebarcontainer .content .slideshow div img {
  height: 100%;
}
body .faqCont {
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .faqCont h5 {
  color: #fff;
  font-size: 25px;
  padding: 3px 0px;
  border-bottom: 2px solid #e7e7e7;
}
body .faqCont div {
  margin: 10px 0px;
  width: 40vw;
  height: 40vh;
  background-color: rgb(194, 194, 194);
}
body .container {
  position: relative;
  min-height: 45vh;
  min-width: 50vw;
}
body .container .heading {
  width: 100%;
  text-align: center;
  color: #e7e7e7;
}
body .container .heading h3 {
  font-size: 70px;
}
body .container .time {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
}
body .container .time span {
  font-size: 100px;
  color: #fff;
  margin: 0px 10px;
}
body .container div {
  display: flex;
  flex-direction: column;
}
body .container div .number {
  text-align: center;
  font-size: 100px;
  color: #fff;
}
body .container div .button-group {
  padding: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
body .container div .button-group button {
  width: 30%;
  padding: 10px 1rem;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}
body .container div .button-group .reset {
  background-color: rgb(101, 101, 221);
}
body .container div .button-group .increase, body .container div .button-group .start {
  background-color: rgb(0, 179, 0);
}
body .container div .button-group .decrease {
  background-color: rgb(255, 63, 63);
}
body .container div .button-group .stop {
  background-color: rgb(255, 63, 63);
}/*# sourceMappingURL=style.css.map */