*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    // google fonts    
    font-family: 'Poppins', sans-serif;
}

body{
    // dimensions---------------------------------------
     height: 100vh;
     width: 100vw;
     overflow: hidden;
    // background color----------------------------------
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    // placement of child divs
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
      // navbar-------------- starts here----------------------------------------
      nav{
        max-width: 100vw;
        max-height: 55px;
        display: flex;
        .logo{
            width: 20%;
            text-align: left;
            padding: 5px 1rem;
            font-size: 20px;
            font-weight: 900;
            background: #FEAC5E;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */            
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        ul {
            width: 80%;
            display: flex;
            justify-content: right;
            padding: 0px 2rem;
            li{
                padding: 5px 1rem ;
                list-style: none;
                 a{
                    font-size: 18px;
                    text-decoration: none;
                    color: #fff;
                 }
            }
        }
      }   
    //   -------------------ends here-------------------------------------------


    // animation ---------------------------------------------------------------
      #animation {
        height: 40vh;
        min-width:100vw;
        background-color: #283048;


      }
    //   -------------------------------------------------------------------------
      #explore{
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            text-decoration:none;
            font-size:200px;
        }
      }

    //   home page ends here-----------------------------------------------------

    // ------------------------------sidebar------------------------------------
      .sidebarcontainer{
        min-width: 100vw;
        height: 94vh;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: red;

        

        .sidebar{
            z-index: 9999;
               min-width: 28vw;
               min-height: 70vh;
               background-color: #64106d;
               display: flex;
               flex-direction: column;
               .logo{
                     width: 100%;
                     height: 10vh;
                     font-size: 21px;
                     font-weight: 900;
                    //  text-decoration: underline;
                    padding: 1rem 1rem;
                    color: #fff;
                    display: flex;
                    justify-content: space-between;
                    i{
                        cursor: pointer;
                    }
               }
               ul{
                height: 50vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                li{
                    list-style: none;
                    padding: 1.5rem 0px;
                    
                    a{
                        color: rgb(222, 222, 222);
                        text-decoration: none;
                        font-size: 21px;
                        &:hover {
                            transition: all 0.3s ease-in-out;
                            color: #eeb177;
                        }
                    }
                }
               }
               .socials{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  i{
                    padding: 0px 10px;
                    cursor: pointer;
                  }
               }
        }
        .removesidebar{
            display: none;
            transition: all 0.4s ease-in-out;
         }
        .content{
            width: 68vw;
            height: 70vh;
            background-color: #5a5a5a;
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: center;
            .burger{
                padding: 1rem;
                // background-color: red;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: right;
            }
            .slideshow{
                // background-color: red;
               height: 62vh;
               width: 68vw;
               display: flex;
               justify-content: center;
               align-items: center;
               overflow: hidden;
                div{
                    height: 98%;
                    width: 66vw;
                    // background-color: #C779D0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        height: 100%;
                    }
                }
            }

        }
      }
       
    //   004.html---------------------------------------------------------------------------------------------------------------------
    .faqCont{
        width: 100vw;
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #edit{
            width: 40vw;
            color: #fff;
            font-size: 30px;
            cursor: pointer;
        }
        h5{
            color: #fff;
            font-size: 25px;
            padding: 3px 0px;
            // text-decoration: underline;
            border-bottom: 2px solid #e7e7e7;
        }
        
        div{
            position: relative;
            margin: 10px 0px;
            width: 40vw;
            height: 45vh;
            background-color: rgb(194, 194, 194);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
            .cont{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .controls{
                    height: auto;
                    i{
                        padding: 1rem 1rem;
                        margin: 0px 1rem;
                        font-size: 20px;
                        border-radius: 50%;
                        background-color: #fff;
                    }
                }
                .content{
                    width: 98%;
                  height: auto;
                  text-align: center;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;

                  .name{
                    font-size : 20px;
                    border-bottom: 1px solid #000;
                  }
                  .profession{
                    font-size : 18px;
                    color: #283048;
                  }
                }
                .img{
                  max-width: 200px;
                  max-height: 200px;
                  display: flex;
                  justify-content: center;
                  border-radius: 50%;
                  background-color: #5068aa;
                  align-items: center;
                i{
                    z-index: 99;
                    position: relative;
                    margin-top: -11.5rem ;
                    margin-left: -6rem;
                    font-size: 25px;
                }
                img{
                    height: 200px;
                    width: auto;
                    position: absolute;
                }
             }
            }

        }
    
    }

           //container div
           .container{
            position: relative;
               min-height: 45vh;
               min-width: 50vw;
            //    background: red;

               .heading{
                width: 100%;
                text-align: center;
                color: #e7e7e7;
                   h3{  
                        font-size: 70px;
                   }
               }
               .time{
                display: flex;
                text-align: center;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                color: #fff;
                 span{
                    font-size: 100px;
                    color: #fff;
                    margin: 0px 10px;
                 }
               }
               div{
                display: flex;
                flex-direction: column;

                .number{
                    text-align: center;
                    font-size: 100px;
                    color: #fff;
                }
                .button-group{
                    padding: 5%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    button{
                          width: 30%;
                          padding: 10px 1rem;
                          border: none;
                          font-size: 18px;
                          border-radius: 5px;
                          cursor: pointer;
                    }
                    .reset{
                        background-color: rgb(101, 101, 221);
                    }
                    .increase,.start{
                        background-color: rgb(0, 179, 0)
                    }
                    .decrease{
                        background-color: rgb(255, 63, 63);
                    }
                    .stop{
                        // background-color: ;
                        background-color: rgb(255, 63, 63);
                    }
                }
               }

           }



        //-----------------------005.html
        .modalContainer{
            height: 95vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: (linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url('./bg.jpg'));
            background-position: center;
            background-repeat: no-repeat;
            .cont{
                position: absolute;
                height: 30vh;
                width: 30vw;
                background-color: #a9a9a9;
                display: flex;
                justify-content: center;
                align-items: center;
                button{
                    width: 8rem;
                    height: 4rem;
                    border: none;
                    background-color: #283048;
                    padding: 10px 1rem;
                    border-radius: 5px;
                    cursor: pointer;
                    color: rgb(213, 213, 213);
                }

            }

            .modal{
                // display: none;
                height: 60vh;
                width: 60vw;
                position: relative;
                background-color: #a4a4a4;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                i{
                    width: 100%;
                    text-align: right;
                    padding: 3rem ;
                    font-size: 28px;
                    cursor: pointer;
                }
                h1{
                    padding: 10px 0px;
                    // color: #e7e7e7;
                    background: #40E0D0;  /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    
                     background-clip: text;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                }
                p{
                    width: 80%;
                    text-align: center;
                    background: #40E0D0;  /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                     background-clip: text;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                }
                .btnCont{
                    padding: 3rem 0px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    button{
                        padding: 10px 8rem;
                        color: #fff;
                        border: none;
                        border-radius: 5px;

                        background: #40E0D0;  /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    }

                }
            }
            .modalremover{
                display: none;
                transition: all 0.5s ease-in-out;
            }
        }    
}


// 006.html------------------------------------------------------------------